﻿@page "/platoon/{PlatoonDesignation}"

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.Roster)">Roster</button>
    </li>
    @if (Loaded)
    {
        <DynamicAuthorizeView SectionName="Platoon Promotion Board" IsPage="false">
            <Authorized>
                <li class="nav-item col">
                    <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.PromotionBoard)">Promotion Board</button>
                </li>
            </Authorized>
        </DynamicAuthorizeView>
    }
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case PlatoonDisplayOption.Roster:
                <table class="table table-striped table-hover">
                    @if(Data is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <CascadingValue Value="Airborne" Name="Airborne">
                            <CascadingValue Value="CompanyName" Name="CompanyName">
                                <PlatoonDisplay Platoon="Data" Number="Number" />
                            </CascadingValue>
                        </CascadingValue>
                    }
                    else if (ZetaData is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <ZetaSectionDisplay Section="ZetaData" Number="Number" />
                    }
                    else if (RazorSquadronData is not null)
                    {
                        <RazorSquadronDisplay Squadron="RazorSquadronData" Name="@Slot.AsFull().Split(" ")[0]" />
                    }
                    else if (WardenData is not null)
                    {
                        <WardenDisplay Warden="WardenData" />
                    }
                </table>
                break;
            case PlatoonDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null || ZetaData is not null || RazorSquadronData is not null || WardenData is not null)
                {
                    <CascadingValue Name="Airborne" Value="Airborne" >
                        <PlatoonPromotionBoard Platoon="Data" Zeta="ZetaData" Squadron="RazorSquadronData" Warden="WardenData" Slot="(int)Slot" />
                    </CascadingValue>
                }
                else
                {
                    <em>No platoon data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}